{% extends 'base.html.twig' %}

{% block title %}Team {{ team.name }}{% endblock %}

{% block head %}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block body %}
    <h1>Team {{ team.name }}</h1>
    <h2><a href="{{ path('race_show',{'id':team.race.id}) }}">{{ team.race }}</a> {{ team.race.date | date('d M Y') }}</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Scratch</th>
                <td>{{ team.position }}</td>
            </tr>
            {% if (team.officialTeamRanking) %}
            <tr>
                <th>Classement FFTRI</th>
                <td>{{ team.officialTeamRanking.categoryPosition }} {{ team.officialTeam.categoryHuman }}</td>
            </tr>
            <tr>
                <th>Points FFTRI</th>
                <td>{{ team.officialTeamRanking.points }}pts</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <table>
        <tbody>
            <tr>
                {% for registration in team.registrations %}
                    <td>{{ include('athlete/_card.html.twig',{'athlete':registration.athlete}) }}</td>
                {% endfor %}
                {% for outsider in team.outsiders %}
                    <td>{{ include('outsider/_card.html.twig',{'outsider':outsider}) }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('team_edit', {'id': team.id}) }}">edit</a>
        {{ include('team/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
