{% extends 'base.html.twig' %}

{% block title %}Registration index{% endblock %}

{% block body %}
    <h1>Registration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Type</th>
                <th>Ask_date</th>
                <th>Date</th>
                <th>Is_long</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registration in registrations %}
            <tr>
                <td>{{ registration.id }}</td>
                <td>{{ registration.number }}</td>
                <td>{{ registration.type }}</td>
                <td>{{ registration.askDate ? registration.askDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ registration.date ? registration.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ registration.isLong ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('registration_show', {'id': registration.id}) }}">show</a>
                    <a href="{{ path('registration_edit', {'id': registration.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('registration_new') }}">Create new</a>
{% endblock %}
