{% extends 'base.html.twig' %}

{% block title %}Championship index{% endblock %}

{% block body %}
    <h1>Championship index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for championship in championships %}
            <tr>
                <td>{{ championship.id }}</td>
                <td><a href="{{ path('championship_show', {'id': championship.id}) }}">{{ championship.name }}</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('championship_edit', {'id': championship.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('championship_new') }}">Create new</a>
    {% endif %}
{% endblock %}
