{% extends 'base.html.twig' %}

{% block title %}Championship index{% endblock %}

{% block body %}
    <h1>Index des championnats</h1>

    <ul>
        {% for championship in championships %}
            <li>
                <a href="{{ path('championship_show', {'id': championship.id}) }}">{{ championship.name }}</a> {{ championship.season | lower }}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('championship_edit', {'id': championship.id}) }}">edit</a>
                {% endif %}
            </li>
        {% else %}
            <li>
                no records found
            </li>
        {% endfor %}
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('championship_new') }}">Create new</a>
    {% endif %}
{% endblock %}
