Bonjour {{ athlete.firstname }},<br>
{{ planning_team.captain.fullname }} viens de t'inviter à faire partie de son équipe pour le {{ planning_team.race.name }}, {{ planning_team.race.finalOf.name }}
<br>
Tu peux accèpter en visitant <a href="{{ accepte_url }}" style="color: yellowgreen">ce lien</a>.<br><br>
Tu peux aussi refuser en suivant <a href="{{ decline_url }}" style="color: darkred">ce lien ci</a>.<br>
A très bientôt