{% extends 'base.html.twig' %}

{% block title %}[Classements Raids] Recherche "{{ s }}"{% endblock %}

{% block body %}
    <h1>Résultats de rechercher pour &ldquo;<strong>{{ s }}</strong>&rdquo;</h1>
    {% set results = 0 %}
    {% if races | length %}
        {% set results = 1 %}
    <h2>Courses</h2>
    <ul class="fa-ul">
        {% for race in races %}
            <li>
                <span class="fa-li"><i class="fas fa-map-marker"></i></span>
                <a href="{{ path('race_show',{'id':race.id}) }}">
                    {{ race.name }}
                </a>
            </li>
        {% else %}
            <li>
                no records found
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if clubs | length %}
        {% set results = 1 %}
        <h2>Clubs</h2>
        <ul class="fa-ul">
            {% for club in clubs %}
                <li>
                    <span class="fa-li"><i class="fas fa-users"></i></span>
                    <a href="{{ path('club_show',{'slug':club.slug}) }}">
                        {{ club.name }}
                    </a>
                </li>
            {% else %}
                <li>
                    no records found
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if racers | length %}
        {% set results = 1 %}
    <h2>Athlètes</h2>
    <ul class="fa-ul">
        {% for racer in racers %}
            <li>
                {% if not racer.outsider %}
                    <span class="fa-li"><i class="fas fa-running"></i></span>
                    <a href="{{ path('athlete_show',{'id':racer.id}) }}">
                        {{ racer.firstname }} {{ racer.lastname }}
                    </a>
                {% else %}
                    <span class="fa-li"><i class="far fa-user"></i></span>
                    <a href="{{ path('outsider_show',{'uid':racer.id}) }}">
                        {{ racer.firstname }} {{ racer.lastname }}
                    </a>
                {% endif %}
            </li>
        {% else %}
            <li>
                no records found
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if is_granted("ROLE_ADMIN") %}
        {% if athletes | length %}
            {% set results = 1 %}
            <h2>Tous les athlètes FFTRI</h2>
            <ul class="fa-ul">
                {% for athlete in athletes %}
                    <li>
                        <span class="fa-li"><i class="fas fa-running"></i></span>
                        <a href="{{ path('athlete_show',{'id':athlete.id}) }}">
                            {{ athlete.firstname }} {{ athlete.lastname }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        no records found
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    {% if not results %}
        <i>aucun résultat</i>
    {% endif %}

{% endblock %}