{% extends 'base.html.twig' %}

{% block title %}[Club] {{ club.name }}{% endblock %}

{% block head %}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Club {{ club.name }}</h1>
    </div>
    <h2 class="text-center">Athlètes à jour</h2>
    <div class="row justify-content-center text-center">
        {% if club.UptodateAthletes %}
            <div class="col-6 col-sm-4 col-md-2 mb-2" style="font-size: 11px">
                Aucun athlete à jour.
            </div>
        {% else %}
        {% for athlete in club.UptodateAthletes %}
            <div class="col-6 col-sm-4 col-md-2 mb-2" style="font-size: 11px">
            {{ include('athlete/_card.html.twig',{'athlete':athlete}) }}
            </div>
        {% endfor %}
        {% endif %}
    </div>
    <div style="clear: both"></div>
    {% if club.OldAthletes | length %}
    <h2 class="text-center">Autres athlètes ayant fait parti de ce club</h2>
    <div class="row justify-content-center">
        {% for athlete in club.OldAthletes %}
            <div class="col-6 col-sm-4 col-md-2 mb-2" style="font-size: 11px">
                {{ include('athlete/_card.html.twig',{'athlete':athlete}) }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div style="clear: both"></div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('club_index') }}">Retour à la liste des clubs</a>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('club_edit', {'id': club.id}) }}">edit</a>

        {{ include('club/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
