{% extends 'base.html.twig' %}

{% block title %}Race index{% endblock %}

{% block body %}
    <h1>Index des courses</h1>
        <ul>
        {% for race in races %}
            <li>
                <a href="{{ path('race_show', {'id': race.id}) }}">{{ race.name }}</a>
                {{ race.date ? race.date|date('d M Y') : '' }}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('race_edit', {'id': race.id}) }}">edit</a>
                {% endif %}
            </li>
        {% else %}
            <li>
                no records found
            </li>
        {% endfor %}
        </ul>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('race_new') }}">Create new</a>
    {% endif %}
{% endblock %}
