{% extends 'base.html.twig' %}

{% block title %}Race{% endblock %}

{% block body %}
    <h1>Race</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ race.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ race.name }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ race.lat }}</td>
            </tr>
            <tr>
                <th>Lon</th>
                <td>{{ race.lon }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ race.date ? race.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Athletes_per_team</th>
                <td>{{ race.athletesPerTeam }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        {% for team in race.teams %}
            <li>#{{ team.position }} {{ team.name }} </li>
            <ul>
                {% for registration in team.registrations %}
                    <li><b>{{ registration.athlete.firstname }} {{ registration.athlete.lastname }}</b> [ {{ registration.number }} ]</li>
                {% endfor %}
                {% for outsider in team.outsiders %}
                    <li {% if outsider.number %}style="color: red"{% endif %}>{{ outsider.firstname }} {{ outsider.lastname }}{% if outsider.number %} [ {{ outsider.number }} ]{% endif %}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>

    <a href="{{ path('race_index') }}">back to list</a>

    <a href="{{ path('race_edit', {'id': race.id}) }}">edit</a>

    {{ include('race/_delete_form.html.twig') }}
{% endblock %}
