{% extends 'base.html.twig' %}

{% block title %}Race{% endblock %}

{% block body %}
    <h1>Race #{{ race.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ race.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ race.date ? race.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Athletes_per_team</th>
                <td>{{ race.athletesPerTeam }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        {% for team in race.teams %}
            <li><a href="{{ path("team_show",{"id":team.id}) }}">#{{ team.position }} {{ team.name }}</a> </li>
            <ul>
                {% for registration in team.registrations %}
                    <li><b>{{ registration.athlete.firstname }} {{ registration.athlete.lastname }}</b> [ <a
                                href="{{ path('registration_show',{'id':registration.id}) }}">{{ registration.number }}</a> ]</li>
                {% endfor %}
                {% for outsider in team.outsiders %}
                    <li {% if outsider.number %}style="color: red"{% endif %}>{{ outsider.firstname }} {{ outsider.lastname }}{% if outsider.number %} [ {{ outsider.number }} ]{% endif %}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>

    <a href="{{ path('race_index') }}">back to list</a>

    <a href="{{ path('race_edit', {'id': race.id}) }}">edit</a>

    {{ include('race/_delete_form.html.twig') }}
{% endblock %}
