{% extends 'base.html.twig' %}

{% block title %}[Épreuve] {{ race.name }}{% endblock %}

{% block body %}
    <h1>{{ race.name }}</h1>
    <h2>{{ race.date ? race.date|date('d M Y') : '' }}</h2>

    {% if race.finalOf %}
        <h3>Finale de championnat</h3>
        <a href="{{ path('championship_show',{'id':race.finalOf.id}) }}">{{ race.finalOf.name }}</a> {{ race.finalOf.season }}

        <h3>Equipes préinscriptes</h3>
        {% for key,teams_cat in sortedPlannedTeams %}
            <h4>{{ key }}</h4>
            <ul>
                {% for team in teams_cat %}
                <li>{{ loop.index }} -
                    <a href="{{ path("planned_team_show",{"id":team.team.id}) }}">{{ team.team.name }}</a> {{ team.team.categoryHuman }} {{ team.team.points }}pts
                    {% if is_granted('edit',team.team) %}
                        <a href="{{ path('planned_team_edit', {'id': team.team.id}) }}" class="text-success"><i class="far fa-edit"></i>&nbsp;éditer</a>
                    {% endif %}
                    <ul>
                        {% for registration in team.team.registrations %}
                            <li><b>
                                    <a href="{{ path('athlete_show',{'id':registration.athlete.id}) }}">
                                        {{ registration.athlete.firstname }} {{ registration.athlete.lastname }}
                                    </a></b>({{ registration.athlete.OfficialPointsForChampionshipWithCategory(race.finalOf,team.team.category) }} pts) {% if is_granted('ROLE_ADMIN') %} [ {{ registration.number }} ]{% endif %}</li>
                        {% endfor %}
                        {% for request in team.team.requests %}
                            <li><i>
                                    <a href="{{ path('athlete_show',{'id':request.athlete.id}) }}">
                                        {{ request.athlete.firstname }} {{ request.athlete.lastname }}
                                    </a>({{ request.athlete.OfficialPointsForChampionshipWithCategory(race.finalOf,team.team.category) }} pts) (a confirmer)</i>{% if is_granted('ROLE_ADMIN') %} [ {{ request.number }} ]{% endif %}</li>
                        {% endfor %}
                    </ul>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="text-warning" href="{{ path('planned_team_resend', {'id': team.team.id}) }}"><i class="fas fa-redo-alt"></i>&nbsp;relancer les invitations</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
        {% if race.finalOf.finalRegistrationDueDate > date("now") %}
            <a href="{{ path('planned_team_new',{'id':race.id}) }}" class="btn btn-primary">Pré-inscrire mon équipe</a>
        {% else %}
            <button class="btn btn-primary" disabled="disabled">Pré-inscriptions terminées</button>
        {% endif %}
    {% endif %}

    {% if race.championships | length %}
        <h3>Course de championnat</h3>
        <p>Cette course apparait dans les championnats suivants</p>
        <ul>
        {% for championship in race.championships %}
            <li><a href="{{ path('championship_show',{'id':championship.id}) }}">{{ championship.name }}</a> {{ championship.season }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if race.teams | length and race.date|date("Ymd") < "now"|date("Ymd") %}
    <h3>Equipes</h3>
    <ul>
        {% for team in race.teams %}
            <li>{{ team.position }} -
                <a href="{{ path("team_show",{"id":team.id}) }}">{{ team.name }}</a>
                {% if team.officialTeam %} FFTRI {{ team.officialTeamRanking.categoryPosition }}e {{ team.officialTeam.categoryHuman }} {% endif %}
                <ul>
                    {% for registration in team.registrations %}
                        <li><b>
                                <a href="{{ path('athlete_show',{'id':registration.athlete.id}) }}">
                                    {{ registration.athlete.firstname }} {{ registration.athlete.lastname }} {% if is_granted('ROLE_ADMIN') %}{% if (registration.athlete.gender == 1) %}♂{% else %}♀{% endif %}{% endif %}
                                </a></b>{% if is_granted('ROLE_ADMIN') %} [ {{ registration.number }} ]{% endif %}</li>
                    {% endfor %}
                    {% for outsider in team.outsiders %}
                        <li {% if outsider.number %}style="color: red"{% endif %}>
                            <a href="{{ path('outsider_show',{'uid':outsider.uid}) }}">
                                {{ outsider.firstname }} {{ outsider.lastname }} {% if is_granted('ROLE_ADMIN') %}{% if (outsider.gender == 1) %}♂{% else %}♀{% endif %}{% endif %}
                            </a>{% if outsider.number %} [ {{ outsider.number }} ]{% endif %}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-secondary" href="{{ path('race_index') }}">back to list</a>
        <a class="btn btn-secondary" href="{{ path('race_edit', {'id': race.id}) }}">edit</a>
        {% if race.teams | length %}
            <a class="btn btn-secondary" href="{{ path('race_import_ranking', {'id': race.id}) }}">re-import</a>
        {% else %}
            <a class="btn btn-primary" href="{{ path('race_import_ranking', {'id': race.id}) }}">import</a>
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ include('race/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
