{% extends 'base.html.twig' %}

{% block title %}[Épreuve] {{ race.name }}{% endblock %}

{% block body %}
    <h1>{{ race.name }}</h1>
    <h2>{{ race.date ? race.date|date('d M Y') : '' }}</h2>

    {% if race.championships | length %}
        <h3>Course de championnat</h3>
        <p>Cette course apparait dans les championnats suivants</p>
        <ul>
        {% for championship in race.championships %}
            <li><a href="{{ path('championship_show',{'id':championship.id}) }}">{{ championship.name }}</a> {{ championship.season }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h3>Equipes</h3>
    <ul>
        {% for team in race.teams %}
            <li>{{ team.position }} - <a href="{{ path("team_show",{"id":team.id}) }}">{{ team.name }}</a>{% if team.officialTeam %} FFTRI {{ team.officialTeamRanking.categoryPosition }}e {{ team.officialTeam.categoryHuman }} {% endif %}</li>
            <ul>
                {% for registration in team.registrations %}
                    <li><b>
                            <a href="{{ path('athlete_show',{'id':registration.athlete.id}) }}">
                                {{ registration.athlete.firstname }} {{ registration.athlete.lastname }}
                            </a></b>{% if is_granted('ROLE_ADMIN') %} [ {{ registration.number }} ]{% endif %}</li>
                {% endfor %}
                {% for outsider in team.outsiders %}
                    <li {% if outsider.number %}style="color: red"{% endif %}>
                        <a href="{{ path('outsider_show',{'uid':outsider.uid}) }}">
                            {{ outsider.firstname }} {{ outsider.lastname }}
                        </a>{% if outsider.number %} [ {{ outsider.number }} ]{% endif %}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('race_index') }}">back to list</a>
    <a href="{{ path('race_edit', {'id': race.id}) }}">edit</a>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ include('race/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
