{% extends 'base.html.twig' %}

{% block title %}[Athlete] {{ athlete.firstname | capitalize }} {{ athlete.lastname | upper }}{% endblock %}

{% block head %}
    {% if not (athlete.rankings | length) %}
        <meta name="robots" content="noindex, follow">
    {% endif %}
{% endblock %}

{% block body %}
    <h1>Athlete {{ athlete.firstname | capitalize }} {{ athlete.lastname | upper }}</h1>

    {% if not (athlete.rankings | length) %}
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-exclamation-circle"></i>&nbsp;Cet athlete n&rsquo;a participé à aucune course enregistrée sur cette plateforme
        </div>
    {% endif %}

    <div class="row">
        <div class="col"></div>
        <div class="col-xs-12 col-sm-10 col-md-4 col-lg-2">
            {{ include('athlete/_card.html.twig') }}
        </div>
        <div class="col"></div>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('athlete_edit', {'id': athlete.id}) }}">edit</a>
        <a class="btn btn-secondary" href="{{ path('athlete_index') }}">back to list</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {% if not (athlete.rankings | length) %}
            <ul>
                {% for registration in athlete.registrations %}
                        <li>{{ registration.id }} {{ registration.number }} <small>{{ registration.startDate|date('d-m-Y') }} -> {{ registration.endDate|date('d-m-Y') }} ({{ registration.date|date('d-m-Y') }})</small>
                            {% if registration.isRacing %}COMPETITION{% elseif registration.isLoisir %}<b>LOISIR</b>{% endif %}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    {% if (athlete.rankings | length) %}
        <h3>Courses</h3>
        <ul>
        {% for registration in athlete.registrations %}
            {% if is_granted('ROLE_ADMIN') %}
                <li>{{ registration.id }} {{ registration.number }} <small>{{ registration.startDate|date('d-m-Y') }} -> {{ registration.endDate|date('d-m-Y') }} ({{ registration.date|date('d-m-Y') }})</small>
                {% if registration.isRacing %}COMPETITION{% elseif registration.isLoisir %}<b>LOISIR</b>{% endif %}</li>
                <ul>
            {% endif %}
            {% if registration.teams | length %}
                {% for team in registration.teams %}
                    <li>{{ team.race.date|date('Y') }}
                        <a href="{{ path('race_show',{'id':team.race.id}) }}">{{ team.race.name }}</a> -
                        <a href="{{ path('team_show',{'id':team.id}) }}">{{ team.name }}</a>
                        {% if (team.officialTeamRanking) %}
                            ({% for championship in team.officialTeamRanking.race.championships %}
                                <a href="{{ path('championship_show',{'id': championship.id }) }}">{{ championship.shortName }}</a>
                            {% endfor %}
                            #{{ team.officialTeamRanking.categoryPosition }} {{ team.officialTeam.categoryHuman }} = {{ team.officialTeamRanking.points }}pts)
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                </ul>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}

    {% if athlete.rankings | length %}
        <h3>Championnats</h3>
        <ul>
            {% for championship in championships %}
                {% if athlete.rankings(championship) | length  %}
                    <li><a href="{{ path('championship_show',{'id':championship.id}) }}">{{ championship.name }} ({{ championship.shortName }})</a> {{ championship.season }}
                        {% if not championship.isUnisex %}
                            <ul>
                            {% for ranking in athlete.getRankingsForChampionship(championship) %}
                                <li>Categorie <a href="{{ path('championship_show',{'id':ranking.championship.id,'category':ranking.category}) }}">{{ ranking.categoryHuman }}</a> : {{ ranking.points }}pts</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <ul><li>Toutes catégories : {{ athlete.UnisexRankingForChampionship(championship).Points }}pts</li></ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    {{ include('athlete/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}

