{% extends 'base.html.twig' %}

{% block body %}
            <h4>Bonjour {{ app.user.displayName }} !</h4>
            <p>Bienvenue. Pour commencer, choisi ton mot de passe.</p>
            {{ form_start(form) }}
            <div class="row">
                <div class="col s12 m6">
                    <div class="errors">
                        {{ form_errors(form.password) }}
                    </div>
                    <div class="input-field">
                        {{ form_label(form.password) }}
                        {{ form_widget(form.password) }}
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="errors">
                        {{ form_errors(form.password_repeat) }}
                    </div>
                    <div class="input-field">
                        {{ form_label(form.password_repeat) }}
                        {{ form_widget(form.password_repeat) }}
                    </div>
                </div>
                <div class="col s12">
                    <button type="submit" class="btn btn-primary">Définir mon mot de passe</button>
                </div>
            </div>
            {{ form_end(form) }}
{% endblock %}
